<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
    <script src="/webjars/jquery/jquery.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <th>ID</th><th>Name</th>
        </thead>
        <tbody>
        <tr th:each="department: ${departments}">
        <td th:text="${department.id}"></td>
        <td th:text="${department.title}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>